@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.bgr {
    /* height: 200px; */
    /* width: 200px; */
    background: linear-gradient(
      to right,
      #BFDBFE 0%,
      #BFDBFE 50%,
      white 0%,
      white 50%
    );
    margin: auto;
    /* border-left-width: 2px; */
    /* border-color: #BFDBFE; */
}
.bgl {
  background: linear-gradient(
    to left,
    #BFDBFE 0%,
    #BFDBFE 50%,
    white 0%,
    white 50%
  );
  margin: auto;
  /* border-right-width: 2px;  */
  /* border-color: #BFDBFE; */
}

.rad {
    border-radius: 9999px;
    /* height: 200px; */
    /* width: 200px; */
    border: 2;
    /* background: black; */
}